/* ========== Menu de navegação ========== */
.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal-nav {
  display: flex;
}

/* ========== Cursos ========== */
.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 22.5%;
}

/* ========== Sobre ========== */
.videoSobre .container {
  display: flex;
  text-align: center;
}

.videoSobre-video {
  flex-grow: 1;
  flex-shrink: 2;
}

.videoSobre-sobre{
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.videoSobre-sobre-list {
  flex-grow: 1;
}

.videoSobre-button {
  width: 100%;
}

/* ========== Lista de Cursos ========== */
.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;

  height: 255px;
}

/* ========== Patrocínadores ========== */
.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  justify-content: space-around;

  width: 70%;
  margin-right: 5%;
  align-items: center;
}

.rodapePrincipal-contatoForm {
  width: 20%;
  margin-left: 5%;
}


/* mobile */
@media screen and (max-width: 992px) {
  /* ========== Cursos ========== */
  .conteudoPrincipal-cursos-link {
    width: 31.1%;
  }

  /* ========== Lista de Cursos ========== */
  .rodapePrincipal-navMap-list {
    font-size: 95%;
    
    margin-left: .5em;
    margin-right: .5em;
  }

  /* ========== Patrocínadores ========== */
  .rodapePrincipal-contatoForm {
    width: 50%;
  }
}


@media screen and (max-width: 768px) {
  /* ========== Menu ========== */
  .cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .cabecalhoPrincipal-nav {
    flex-direction: column;
  }

  .cabecalhoPrincipal-nav-link-app {
    order: -1;
  }

  /* ========== Cursos ========== */
  .conteudoPrincipal-cursos {
    flex-direction: column;
  }
  
  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  /* ========== Sobre ========== */
  .videoSobre .container {
    flex-direction: column;
  }

  .videoSobre-video {
    margin: 0 auto;
  }

  /* ========== Lista de Cursos ========== */
  .rodapePrincipal-navMap-list {
    height: auto;
  }

  /* ========== Patrocínadores ========== */
  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
  }
  
  .rodapePrincipal-patrocinadores-list {
    width: 100%;
  }
  
  .rodapePrincipal-contatoForm {
    width: 100%;

    margin: 20px 0;

    text-align: center;
  }

  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }
}

